h1{
	color: black;
	background-color: white;
	text-align: center;
}
footer{
	text-align: center;
	display: block;
	margin: 0 auto;
}
footer small{
	text-align: center;
	display: block;
}

body{
	font-family: sans-serif;
	margin: 10px 0;
}
main{
	margin: auto;
	max-width: 2000px;
	padding: 20px;
	padding-right: 30px;
	text-align: center;
}
nav{
	font-weight: bold;
	background-color: peachpuff;
}
header img{
	margin: 0 auto;
	display: block;
}
nav li{
	display: inline;
}
.home-hero{
	background-image: url(images/header.jpg);
	height: 400px;
	background-size: cover;
	background-position: center;
	padding: 10px 10px 10px 30px;
}
table{
	border-collapse: collapse;
}
td, th{
	border: 1px solid black;
	padding: 5px;
}
th{
	background-color: blue;
	color: white;
}
nav ul{
	text-align: center;
	padding: 8px;
}
nav li{
	display: inline;
	padding: 8px;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link {
	color: blue;
}
nav a:visited {
	color: purple;
}
nav a:hover {
	color: orange;
}
nav a:active {
	color: blue;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
}
input, textarea{
	margin-bottom: 1em;
	display: block;
	border-radius: 5px;
}
#submit{
	display: block;
	background-color: lightgray;
}
/*CSS without a media query--applies to all sizes unless overridden*/
h1{
		font-size: 4em;
 }
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
}
.mobile{
	display: none;
}
@media only screen and (max-width: 400px) {
	.desktop{
		display: none;
	}
	.mobile{
		display: block;
	}
}